@import '../colors';

.gallery-item {
  flex-grow: 1;
  margin: 0.3em;
  position: relative;
  outline: none;

  &:hover,
  &:focus {
    box-shadow: 0 0 0.5em $box-shadow;
  }

  &__overlay {
    visibility: hidden;
    position: absolute;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: $gallery-item-overlay;

    .gallery-item:hover &,
    .gallery-item:focus-within & {
      visibility: visible;
    }
  }

  &__img {
    position: absolute;
    top: 0;
    width: 100%;
    vertical-align: bottom;

    &--hidden {
      visibility: hidden;
    }

    &--placeholder {
      background-color: $placeholder;
      z-index: 2;
      height: 100%;
    }

    &--error {
      color: $text-danger;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
