.dropzone {
  align-self: flex-start;
  flex-shrink: 1;
  margin-right: auto;

  @media (max-width: 768px) {
    margin-left: auto;
  }

  &__overlay {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: $dropzone-overlay;
    color: $text-important;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1011;
    &--active {
      visibility: visible;
    }
  }
}
