.gallery-controls {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-end;
  margin: 1em;

  @media (max-width: 767.99px) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
