@import './colors';

.button {
  background-color: $background-secondary;
  border-radius: 6px;
  color: $text-secondary;
  padding: 0.5em 0.3em;
  margin: 0.3em;
  text-align: center;
  text-decoration: none;
  border: solid transparent 1px;
  outline: none;

  &--icon {
    background-color: transparent;
  }

  &--small {
    padding: 0.2em 0.1em;
    margin: 0.1em;
  }

  &:hover, &:focus {
    color: $text-primary;
    border: solid $text-secondary 1px;
    box-shadow: 0 0 0.3em $box-shadow;
  }
  &:active {
    border: solid $text-secondary 1px;
    box-shadow: none;
  }
}
