@import './colors';

.button {
  background-color: $button-primary;
  border-radius: 6px;
  color: $text-primary;
  padding: 0.5em 0.3em;
  margin: 0.3em;
  text-align: center;
  text-decoration: none;
  border: solid transparent 1px;
  outline: none;
  cursor: pointer;

  &:hover {
    background-color: $button-active;
    box-shadow: 0 0 0.2em $box-shadow;
  }

  &:active {
    transform: scale(0.95);
    background-color: $button-active;
  }

  &--icon {
    background-color: transparent;
    box-shadow: none;

    &:hover,
    &:active {
      box-shadow: none;
      background-color: transparent;
    }

    &:active {
      transform: scale(0.9);
    }
  }

  &--small {
    padding: 0.2em 0.1em;
    margin: 0.1em;
  }

  &--delete {
    color: $button-delete;

    &:hover,
    &:focus,
    &:active {
      outline: 2px solid $button-delete !important;
    }
  }
}
