@import './colors';

.button {
  background-color: $background-secondary;
  border-radius: 6px;
  color: $text-secondary;
  padding: 0.5em 0.3em;
  margin: 0.3em;
  text-align: center;
  text-decoration: none;
  border: solid transparent 1px;

  &:hover {
    color: $text-primary;
    box-shadow: 0 0 0.3em $box-shadow;
  }
}
