$background-primary: rgb(255, 255, 255);
$background-secondary: rgb(238, 238, 238);
$background-important: rgb(16, 157, 88);

$placeholder: rgb(133, 132, 132);
$modal-overlay: rgba(0, 0, 0, 0.7);
$box-shadow: rgba(0, 0, 0, 0.5);

$text-primary: rgb(20, 20, 20);
$text-secondary: rgb(137, 137, 137);
