$background-primary: rgb(255, 255, 255);
$background-secondary: rgb(238, 238, 238);
$background-important: rgb(16, 157, 88);

$placeholder: rgb(133, 132, 132);
$modal-overlay: rgba(0, 0, 0, 0.7);
$dropzone-overlay: rgba(50, 50, 50, 0.95);
$gallery-item-overlay: rgba(0, 0, 0, 0.4);
$box-shadow: rgba(0, 0, 0, 0.5);

$text-primary: rgb(20, 20, 20);
$text-secondary: rgb(137, 137, 137);
$text-important: rgb(240, 240, 240);
$text-danger: rgb(181, 62, 41);
$text-success: rgb(50, 172, 113);

$button-delete: rgb(255, 42, 5);
$button-primary: rgb(230, 230, 230);
$button-active: rgb(190, 190, 190);

$outline: rgba(16, 157, 89, 0.6);

$lightbox-buttons: rgb(170, 170, 170);
$lightbox-buttons-hover: rgb(230, 230, 230);
