$background-primary: rgb(255, 255, 255);
$background-secondary: rgb(238, 238, 238);
$background-important: rgb(16, 157, 88);

$placeholder: rgb(133, 132, 132);
$modal-overlay: rgba(0, 0, 0, 0.7);
$gallery-item-overlay: rgba(0, 0, 0, 0.4);
$box-shadow: rgba(0, 0, 0, 0.5);

$text-primary: rgb(20, 20, 20);
$text-secondary: rgb(137, 137, 137);
$text-important: rgb(240, 240, 240);
$text-danger: rgb(181, 62, 41);
$text-success: rgb(50, 172, 113);

$button-delete: rgb(255, 42, 5);
