@import './colors';

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__label {
    color: $text-secondary;
  }

  &__input {
    margin-bottom: 1em;
    margin-top: 1em;

    &--textarea {
      min-height: 10em;
    }

    &:focus[data-focus-visible-added] {
      outline: 2px solid $outline;
    }
    &--error:focus[data-focus-visible-added] {
      outline: 2px solid $text-danger;
    }
  }

  &__error-message {
    margin-bottom: 1em;
    color: $text-danger;
  }
}
