@import './colors';

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__label {
    color: $text-secondary;
  }

  &__input {
    margin-bottom: 1em;
    &--textarea {
      min-height: 10em;
    }
  }

  &__error-message {
    margin-bottom: 1em;
    color: $text-danger;
  }
}
