@import './colors';

.alert {
  margin-bottom: 1em;

  &_error {
    color: $text-danger;
  }
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__input {
    margin-bottom: 1em;
  }
}
