@import './colors';

.gallery-item {
  flex-grow: 1;
  margin: 0.3em;
  position: relative;

  &__img {
    position: absolute;
    top: 0;
    width: 100%;
    vertical-align: bottom;

    &_placeholder {
      background-color: $placeholder;
      height: 100%;
    }
  }
}
