@import './colors';

.gallery {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2em;

  &__placeholder {
    display: flex;
    min-height: 40vh;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  &__dropzone {
    align-self: flex-start;
    flex-shrink: 1;
    margin-right: auto;
    &_active .button {
      color: $text-primary;
      box-shadow: 0 0 0.3em $box-shadow;
    }
  }

  &::after {
    content: '';
    flex-grow: 999999999;
  }
}
