@import './colors';

.gallery-item {
  flex-grow: 1;
  margin: 0.3em;
  position: relative;
  outline: none;
  &:hover, &:focus {
    box-shadow: 0 0 0.5em $box-shadow;
  }

  &__overlay {
    visibility: hidden;
    position: absolute;
    display: flex;
    align-items: start;
    justify-content: end;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1010;
    background-color: $gallery-item-overlay;

    .gallery-item:hover &,
    .gallery-item:focus-within & {
      visibility: visible;
    }

    & .button_delete {
      color: $button-delete;
    }
    & .button_delete:hover, .button_delete:focus {
      color: $button-delete;
      box-shadow: 0 0 0.3em $text-danger;
    }
  }

  &__img {
    position: absolute;
    top: 0;
    width: 100%;
    vertical-align: bottom;

    &_placeholder {
      background-color: $placeholder;
      height: 100%;
    }
  }
}
