@import './gallery/gallery';
@import './gallery/gallery-item';
@import './modal/modal';
@import './footer';
@import './header';
@import './button';
@import './colors';
@import './form';
@import './alerts/alerts';
@import './gallery-controls/dropzone';
@import './gallery-controls/gallery-controls';
@import './tooltip';

* {
  padding: 0;
  margin: 0;
  font-size: 16px;
  box-sizing: border-box;
}

* :focus:not([data-focus-visible-added]) {
  outline: none;
}

* :focus[data-focus-visible-added] {
  outline: 3px solid $outline;
  outline-offset: 2px;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
