@import './gallery';
@import './gallery_item';
@import './modal';
@import './footer';
@import './header';
@import './button';
@import './colors';
@import './form';
@import './alert';
@import './dropzone';
@import './toolbar';

* {
  padding: 0;
  margin: 0;
  font-size: 16px;
  box-sizing: border-box;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
