@import './gallery';
@import './gallery_item';
@import './modal';
@import './footer';
@import './header';
@import './button';
@import './colors';
@import './form';
@import './alert';
@import './dropzone';

* {
  padding: 0;
  margin: 0;
  font-size: 16px;
  box-sizing: border-box;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.toolbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  align-items: end;
  margin: 1em;

  @media (max-width: 768px) {
    justify-content: center;
    align-items: center;
   }
}
